body {
    background-image: url('img/img/5_background/desert.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

canvas {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.headtext {
    padding-top: 1rem;
    font-size: 2.5rem;
}

@keyframes gradient {
    0% {
        background: radial-gradient(circle at center, rgba( 255, 125, 125, 0) 0%, #fff 0%, #fff 100%);
    }
    25% {
        background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3) 24%, #fff 25%, #fff 100%);
    }
    50% {
        background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5) 49%, #fff 50%, #fff 100%);
    }
    75% {
        background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8) 74%, #fff 75%, #fff 100%);
    }
    100% {
        color: #fff;
        background: radial-gradient(circle at center, #f88 99%, #fff 100%, #fff 100%);
    }
}

.start_btn {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background: #fff;
    font-weight: bold;
    font-size: 1.1em;
    color: #667;
    box-shadow: 0 6px 6px rgb(255, 215, 10);
    outline: none;
}

.start_btn:active {
    animation: gradient 100ms;
    background: rgb(255, 150, 0);
    color: #fff;
    box-shadow: none;
}

img {
    width: 100%;
    height: 100%;
}

.container_startscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 480px;
    width: 720px;
}

.d-none {
    display: none !important;
}

.box {
    /* z-index: 10; */
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 480px;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    position: relative;
    height: 10px;
    width: 75%;
    border: 10px solid rgb(255, 150, 0);
    border-radius: 15px;
}

.progress {
    position: absolute;
    background-color: #ffffff;
    height: 10px;
    border-radius: 15px;
}

.progress_num {
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
}

.container_canvas {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.container_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.75rem;
}

.head_img {
    width: 2.5rem;
    height: 2.5rem;
}

.head_btn:hover {
    transform: scale(1.1);
    transition: transform 450ms ease-in-out;
}

.dropdown_options {
    position: absolute;
    top: 0;
    left: 35%;
    display: flex;
    flex-direction: column;
}

.closed {
    display: none;
}

.head_options {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.head_options:hover>.options_head_img {
    transform: scale(1.2);
    transition: transform 400ms ease-in-out;
}

.options_head_img {
    width: 3.5rem;
    height: 3.5rem;
}

.options_headtext {
    font-size: 2rem;
}

.place_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.container_options {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.box_options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.options_img {
    width: 2.5rem;
    height: 2.5rem;
}

.options_text {
    font-size: 1.25rem;
    font-weight: 600;
}