@font-face {
    font-family: 'zabars';
    src: url('./fonts/ZABARS/Zabars.ttf');
}

body {
    font-family: 'zabars', sans-serif;
    background-image: url('img/img/5_background/desert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
}

h1,
h2,
h3,
p,
img,
button {
    margin: 0;
    padding: 0;
}

main {
    height: 480px;
    width: 720px;
    position: relative;
    overflow: hidden;
}

canvas {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 100%;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

p {
    margin: 0;
}

.headtext {
    position: absolute;
    top: 0.75rem;
    font-size: 4rem;
    margin: 0;
    margin-top: 1.25rem;
    letter-spacing: 0.24rem;
    text-shadow: 0 0 0.4px black;
    color: #4a250b;
    text-align: center;
}

.start_btn {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background: #fff;
    font-weight: bold;
    font-size: 1.1em;
    color: #667;
    box-shadow: 0 6px 6px rgb(255, 215, 10);
    outline: none;
}

.start_btn:active {
    animation: gradient 100ms;
    background: rgb(255, 150, 0);
    color: #fff;
    box-shadow: none;
}

img {
    width: 100%;
    height: 100%;
}

.container_startscreen {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.options_start_img {
    width: 3rem;
    height: 3rem;
}

.options_start_btn {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    -webkit-animation: spin 7s linear infinite;
    -moz-animation: spin 7s linear infinite;
    animation: spin 7s linear infinite;
}

.options_btn_back {
    position: absolute;
    left: 2rem;
    top: 1.5rem;
}

.options_btn_back:hover {
    transform: scale(1.1);
    transition: transform 400ms ease-in-out;
}

.options_start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 12;
    background: linear-gradient(0deg, rgb(255, 201, 92) 0%, rgb(181, 130, 65) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dropdown_options_start {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options_headtext_start {
    font-size: 3.75rem;
    font-family: 'zabars';
    letter-spacing: 0.3rem;
    padding-top: 2.25rem;
    text-align: center;
}

.place_container_start {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.box_options_start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.options_box_enemy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem 0;
    gap: 0.25rem;
}

.options_enemy_text {
    font-size: 3.5rem;
    letter-spacing: 0.075rem;
    text-align: center;
}

.options_enemy_text_2 {
    padding-left: 2rem;
}

.options_enemy_equal {
    padding-left: 0.5rem;
}

.options_enemy_img {
    width: 5rem;
    height: 5rem;
    padding-left: 0.5rem;
}

.options_chicken_img {
    padding-left: 1.5rem;
}

.box {
    z-index: 11;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    position: relative;
    height: 10px;
    width: 75%;
    border: 10px solid rgb(255, 150, 0);
    border-radius: 15px;
}

.progress {
    position: absolute;
    background-color: #ffffff;
    height: 10px;
    border-radius: 15px;
}

.progress_num {
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.15rem;
    padding-top: 2rem;
}

.container_canvas {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
}

.head_img {
    width: 2.5rem;
    height: 2.5rem;
}

.head_btn_sound {
    width: 2.5rem;
    height: 2.5rem;
}

.head_btn:hover {
    transform: scale(1.1);
    transition: transform 450ms ease-in-out;
}

.dropdown_options {
    position: absolute;
    top: 0;
    left: 35%;
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

.closed {
    display: none;
}

.head_options {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.options_head_img {
    width: 3.5rem;
    height: 3.5rem;
    -webkit-animation: spin 7s linear infinite;
    -moz-animation: spin 7s linear infinite;
    animation: spin 7s linear infinite;
}

.options_headtext {
    font-size: 2.5rem;
    font-family: 'zabars';
    letter-spacing: 0.2rem;
}

.place_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding-top: 0.75rem;
}

.container_options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.box_options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.options_img {
    width: 2.5rem;
    height: 2.5rem;
}

.options_text {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gameover {
    z-index: 8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.d-none {
    display: none !important;
}

.res {
    display: none;
}

.icons8 a {
    color: rgb(0, 0, 0);
    margin: 0;
    padding-left: 0.25rem;
    text-decoration: none;
}

.icons8 a:hover {
    color: #626262;
}

.icons8 {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 2rem;
    margin: 0;
    font-size: 1.2rem !important;
}

@keyframes gradient {
    0% {
        background: radial-gradient(circle at center, rgba( 255, 125, 125, 0) 0%, #fff 0%, #fff 100%);
    }
    25% {
        background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3) 24%, #fff 25%, #fff 100%);
    }
    50% {
        background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5) 49%, #fff 50%, #fff 100%);
    }
    75% {
        background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8) 74%, #fff 75%, #fff 100%);
    }
    100% {
        color: #fff;
        background: radial-gradient(circle at center, #f88 99%, #fff 100%, #fff 100%);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width:720px) {
    main {
        width: 100%;
        flex: 1;
    }
    .headtext {
        display: none;
    }
    .btn_res {
        z-index: 7;
        width: 3.5rem;
        height: 3.5rem;
        background-color: rgba(255, 255, 255, 0.279);
        backdrop-filter: blur(0.1rem);
        border-radius: 1rem;
        box-shadow: 0 0 5px 0.2px black;
    }
    .btn_left {
        position: absolute;
        bottom: 1rem;
        left: 2rem;
    }
    .btn_right {
        position: absolute;
        bottom: 1rem;
        left: 6.5rem;
    }
    .btn_jump {
        position: absolute;
        bottom: 1rem;
        right: 7.5rem;
    }
    .btn_throw {
        position: absolute;
        bottom: 1rem;
        right: 2rem;
    }
    .img_move_res {
        width: 2.5rem;
        height: 2.5rem;
    }
    .img_bottle_res {
        width: 3.5rem;
        height: 3.5rem;
    }
    .turn_180 {
        transform: rotate(180deg);
    }
    .res {
        display: unset;
    }
    .des {
        display: none;
    }
    .options_text {
        font-size: 1.125rem;
    }
}

@media screen and (max-height:480px) {
    main {
        flex: 1;
        width: 100%;
    }
    .headtext {
        display: none;
    }
    .btn_res {
        z-index: 7;
        width: 3.5rem;
        height: 3.5rem;
        background-color: rgba(255, 255, 255, 0.279);
        backdrop-filter: blur(0.1rem);
        border-radius: 1rem;
        box-shadow: 0 0 5px 0.2px black;
    }
    .btn_left {
        position: absolute;
        bottom: 1rem;
        left: 2rem;
    }
    .btn_right {
        position: absolute;
        bottom: 1rem;
        left: 6.5rem;
    }
    .btn_jump {
        position: absolute;
        bottom: 1rem;
        right: 7.5rem;
    }
    .btn_throw {
        position: absolute;
        bottom: 1rem;
        right: 2rem;
    }
    .img_move_res {
        width: 2.5rem;
        height: 2.5rem;
    }
    .img_bottle_res {
        width: 3.5rem;
        height: 3.5rem;
    }
    .turn_180 {
        transform: rotate(180deg);
    }
    .res {
        display: unset;
    }
    .des {
        display: none;
    }
}